@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x1i5e4');
  src:  url('../fonts/icomoon.eot?x1i5e4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x1i5e4') format('truetype'),
    url('../fonts/icomoon.woff?x1i5e4') format('woff'),
    url('../fonts/icomoon.svg?x1i5e4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket .path1:before {
  content: "\e900";
  color: rgb(42, 49, 65);
}
.icon-basket .path2:before {
  content: "\e901";
  margin-left: -0.748046875em;
  color: rgb(234, 94, 32);
}
.icon-catalog:before {
  content: "\e902";
  color: #fff;
}
.icon-compare .path1:before {
  content: "\e903";
  color: rgb(42, 49, 65);
}
.icon-compare .path2:before {
  content: "\e904";
  margin-left: -0.84765625em;
  color: rgb(42, 49, 65);
}
.icon-compare .path3:before {
  content: "\e905";
  margin-left: -0.84765625em;
  color: rgb(42, 49, 65);
}
.icon-compare .path4:before {
  content: "\e906";
  margin-left: -0.84765625em;
  color: rgb(42, 49, 65);
}
.icon-compare .path5:before {
  content: "\e907";
  margin-left: -0.84765625em;
  color: rgb(234, 94, 32);
}
.icon-mail .path1:before {
  content: "\e908";
  color: rgb(225, 225, 225);
}
.icon-mail .path2:before {
  content: "\e909";
  margin-left: -1.1943359375em;
  color: rgb(225, 225, 225);
}
.icon-favorite .path1:before {
  content: "\e90a";
  color: rgb(234, 94, 32);
}
.icon-favorite .path2:before {
  content: "\e90b";
  margin-left: -1.2041015625em;
  color: rgb(42, 49, 65);
}
.icon-geo .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-geo .path2:before {
  content: "\e90d";
  margin-left: -0.75390625em;
  color: rgb(255, 136, 83);
}
.icon-next-arrow:before {
  content: "\e90e";
  color: rgb(255,136,83);
}
.icon-personal .path1:before {
  content: "\e90f";
  color: rgb(42, 49, 65);
}
.icon-personal .path2:before {
  content: "\e910";
  margin-left: -1.064453125em;
  color: rgb(234, 94, 32);
}
.icon-phone .path1:before {
  content: "\e911";
  color: rgb(225,225,225);
}
.icon-phone .path2:before {
  content: "\e912";
  margin-left: -1.0224609375em;
  color: rgb(225,225,225);
}
.icon-phone .path3:before {
  content: "\e913";
  margin-left: -1.0224609375em;
  color: rgb(225,225,225);
}
.icon-search .path1:before {
  content: "\e914";
  color: rgb(42, 49, 65);
}
.icon-search .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(234, 94, 32);
}
