body {
	font-family: Roboto;
}

.header-wr {
	max-width: 100%;
	max-height: 52px;
	background-color: #2a3141;
	padding: 0 145px;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul.menu-list {
	display: flex; 
	align-items: center;
	padding-inline-start: 0;
}

.header-menu_item {
	list-style: none;
	margin: 0;
	padding-left: 0;
	margin-right: 30px;
	font-size: 14px;
}

.header-menu_item.tel, .header-menu_item.mail {
	font-size: 16px;
}

.header-menu_item > a {
	color: #ffffff;
	display: inline-block;
}

.header-menu_item > a > span {
	display: inline-block;
	color: #ff8853;
	vertical-align: middle;
}

.header-menu_item > a:hover, .header-menu_item > a:hover > span {
	color: #ea5e20;
}

a {
	text-decoration: none;
}

.header-menu_item.tel > a, .header-menu_item.mail > a, .header-menu_item.geo > a {
	margin-left: 10px;
}

.header-menu_item > .icon-next-arrow {
	transform: rotate(270deg);
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
}

.header-menu_item:last-child {
	margin-right: 0;
}

span[class^="icon-"] {
	display: inline-block;
	vertical-align: middle;
}

.catalog-wr {
	max-width: 100%;
	max-height: 83px;
	background-color: #fff;
	padding: 0 145px;
	border-bottom: 1px solid #c5cad6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.btn {
	display: inline-block;
	padding: 15px 15px;
	height: 100%;
	text-align: center;
	font-size: 16px;
	background-color: #eaecf0;
	margin-right: 20px;
}

.catalog-btn {
	margin-left: 10px;
	background-color: #ea5e20;
	padding-left: 60px;
	padding-right: 60px;
	color: #fff;
	white-space: nowrap;
}

.catalog-btn span[class^="icon-"] {
	display: inline-block;
	margin-right: 10px; 
}

.btn:hover {
	cursor: pointer;
}

.call-btn {
	max-width: 220px;
	color: #2a3141;
	padding-left: 50px;
	padding-right: 50px;
	margin-right: 0;
	white-space: nowrap;
}

.search-wr {
	width: 100%;
	background-color: #fff;
	padding: 3px;
	height: 100%;
	max-height: 70px; 
	border: 1px solid #c5cad6;
	display: flex;
	align-items: center;
	padding-right: 15px;
	margin-right: 20px;
	justify-content: space-between;
}

.btn-filter {
	white-space: nowrap;
	padding: 0 15px;
	min-height: 40px;
	line-height: 40px;
}

.logo {
	margin-bottom: 10px;
	margin-top: 5px;
}

.btn-filter span {
	display: inline-block;
	margin-left: 10px;
	transform: rotate(270deg);
	color: #2a3141;
}

.input-search {
	height: 100%;
    box-shadow: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    padding-right: 5px;
    color: #696e7a;
    border: none;
    outline: none;
}

ul.catalog-menu {
	display: none;
	width: 428px;
	background-color: #fff;
	list-style: none;
	padding-inline-start: 0;
}

ul.catalog-submenu {
	display: none;
	width: 430px;
	background-color: #fff; 
	list-style: none;
	padding-inline-start: 0;
}

.catalog-btn:hover + .catalog-menu, .catalog-menu:hover {
	display: block;
	position: absolute;
	left: 143px;
	top: -1px;
	right: 0;
	z-index: 1;
}

.catalog-menu_item:hover > ul.catalog-submenu, .catalog-submenu:hover  {
	display: block;
	position: absolute;
	left: 428px;
	top: 0px;	
	z-index: 1;
}

.catalog-menu_item a, .catalog-submenu_item a {
	display: block;
	height: 55px;
	line-height: 55px;
	padding: 0 15px;
	font-size: 14px;
	color: #2a3141;
}

.catalog-menu_item:hover {
	background-color: #fff;
}

.catalog-menu_item, .catalog-submenu_item  {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1px;
	background-color: #eaecf0;
}

.catalog-menu_item:first-child {
	background-color: #ea5e20;
	height: 48px;
	font-size: 16px;
	white-space: nowrap;
	justify-content: center;
}

.catalog-menu_item:first-child a {
	color: #fff;
	text-align: center;
	font-size: 16px;
}

.catalog-menu_item span.number {
	display: inline-block;
	position: relative;
	top: -7px;
	left: 5px;
	font-size: 14px;
	color: #ea5e20;
}

.catalog-menu_item [class^="icon-"] {
	position: relative;
	left: -15px;
	transform: rotate(180deg);
}

.exite-catalog {
	display: inline-block;
	position: relative;
	left: 10px;
	transform: rotate(45deg);
	color: #fff;
	font-size: 32px;
}